 .color {
 border: 1px solid black;
 display: inline;
 padding: 30px;
 margin-inline-start: 5px;
 }

 #color-palette {
 margin-top: 100px;
 }

 #corUm {
 background-color: black;  
 }

 #corDois {
 background-color: #Fdfde9;
 }

 #corTres {
 background-color: #Fdd0f5;  
 }

 #corQuatro {
 background-color: #D8d0fd;  
 }

 .pixel {
 background-color: white;
 display: inline-block;
 padding: 30px;
 border: 1px solid black;
 bottom: 150px;
 }

 #pixel-board {
 margin-top: 300px;
 width: 420px;
 }